body {
    height: 100%;
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    backdrop-filter: brightness(0.8);
    transition: background-image 1s linear;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(121, 165, 206, 0.5);
    z-index: -1;
    /* background: linear-gradient(to bottom, rgba(149, 200, 247, 0.9) 12%, rgba(166, 201, 244, 0.6) 5%), url(../images/childimage3.jpg); */

}

.flex-container {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.flex-container .header {
    flex: 0 1 auto;
    background: #7e8aa0;
}

.flex-container .content {
    flex: 1 1 auto;
}

.flex-container .footer {
    flex: 0 1 100px;
}

/* Navigation Ribbon CSS */
ul.btns {
    padding: 0;
}

.btnGroupLabel p {
    margin: 0px;
}

/* End Of Navigation Ribbon CSS */