.buttons button{
    display: flex;
    align-items: center;
    text-align: center;
    text-align: center;
    width: 10em;
    height: 3em;
    color: #0a2d64;
    margin-top: 7px;
    font-weight: 700;
    background-image: linear-gradient(#e0e7eb,  #b7d5d6);
    border-width: 1.2px;
    padding-left: 6px;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-color: rgb(0, 255, 0);
    box-shadow: 2px 2px 5px rgb(25, 157, 218);
}
.buttons button:hover{
    background-image: linear-gradient(rgb(251, 225, 132),  #e6e6e6);
    border-top-left-radius: 9px;
    border-bottom-right-radius: 9px;
    color: hwb(222 0% 0%);
    border-color: aqua;
    box-shadow: 4px 4px 10px rgb(15, 51, 15);;
    transition: .5s;
}



input[type="text"], input[type="date"],input[type="email"],input[type="tel"],select{
    height: 1.6em;
    width: 16em;
    border-color: aqua;
    border-width: 1.8px;
    padding-left: 6px;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: .9s;
}
input:hover, input:active{
    border-top-left-radius: 9px;
    border-bottom-right-radius: 9px;
    border-color: aqua;
    box-shadow: 4px 4px 10px rgb(15, 51, 15);;
    transition: .5s;
}
select:hover{
    border-top-left-radius: 9px;
    border-bottom-right-radius: 9px;
    border-color: aqua;
    box-shadow: 4px 4px 10px rgb(15, 51, 15);;
    transition: .5s;
}

textarea{
    border-color: rgb(124, 250, 124);
    border-width: 1.2px;
    padding-left: 6px;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: .9s;
}

.krypton-table tr:nth-child(even) { 
    background-color: #fff;
}
.krypton-table tr:nth-child(odd) { 
    background-color: rgb(188, 238, 247)
}


.krypton-table{
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
    border: solid 1px #7e7e7e;
    cursor: pointer;
}
.krypton-table th{   
    background-image: linear-gradient(#b0d1e4,  rgb(60, 184, 241), rgb(227, 233, 227));
    width:max-content;
    padding: 8px 5px;
    border: 0.5px solid #cac8c8;

}
.krypton-table td{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 0.5px solid #cac8c8;
    font-size: 11.5px;
    font-weight: 500;
    color: #352931;
    padding: 5px 5px;
}
.krypton-lbl{
    color: #0a3883;
}
.clear-btn{
    border: #ffffff;
    background-color: transparent;
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
    color: #0a3883;
}
.clear-btn:hover{
    color: blue;
    border: 0.5px solid #fff;
    border-top-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.krypton-table tr:hover {
    cursor: pointer;
    background-color: #93e79d;
}

.krypton-table tr.highlight {
    background-color: #5a8ab6;
    color: white;
    font-weight: bold;
    /* Highlight color */
}