body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  backdrop-filter: brightness(0.8);
}

.form-container {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 40px 25px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
  text-align: center;
}

.form-container h2 {
  color: #0077b6;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  text-align: left;
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 16px;
}

.btn {
  background-color: #3fa9f5;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: #0077b6;
}

a {
  color: #0077b6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
